@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import './colors';


#app{
    font-family: 'Roboto', 'sans-serif';
    
    #sidebar{
        width: 250px;
        background-color: $blue;
        overflow: auto;
        height: 100vh;
        position: fixed;
        float: left;
    }

    main{
        width: calc(100% - 250px);
        min-height: 100vh;
        float: right;
        background-color: $white;
        
        .pages{
            width: 100%;
            float: left;
            padding: 60px 50px 30px 80px;
        }
    }

    @media screen and (max-width: 425px) and (min-width: 300px){

        #sidebar{
            margin-top: 30px;
        }

        main{
            width: 100%;
        
            .pages{
                padding: 10px 0 !important;
                margin-top: 70px;
                background-color: $white;
                .row{
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    @media screen and (max-width: 768px) and (min-width: 426px){

        #sidebar{
            margin-top: 50px;
        }

        main{
            width: 100%;

            .pages{
                padding: 20px 20px;
                margin-top: 70px;

                .row{
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    @media screen and (min-width: 769px){
        .menu-mobile{
            display: none;
        }
    }
}